.checkout-logo {
	animation: App-logo-spin infinite 20s linear;
	margin-top: 2vmin;
  height: 10vmin;
  pointer-events: none;
}

/**
 form styles */
 .form-header {
  max-height: 40vh;
  display: flex;
  align-items: center;
	justify-content: center;
  font-size: calc(10px + 1vmin);
  color: #333;
}
.form-header h1 {
	 padding: 14px 20px 0;
}

a:link {
  color: #7564bd;
}
.checkout-form {
	font-family: 'Muli', sans-serif;
}
.feedback_form {
	text-align: left;
	margin: 0 2vw;
}

.comment-list {
	width: 100%;
}

.form-group {
	margin-top: 10px;
}

.form-field {
	width: 92vw;
	font-size: 0.8em;
	padding: 8px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-khtml-border-radius: 4px;
}

.comment {
	display: flex;
	background: #d6dfe8;
	padding: 8px;
	margin: 8px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-khtml-border-radius: 10px;
}

.comment span {
	width: 40%;
	display: inline-flex;
	padding: 22px 4%;
}

h4.name.field {
	min-width: 20%;
}

.comment .rating {
	width: 5%;
}

button.btn.btn-primary {
	width: 100%;
	color: white;
	background: #556c86;
	padding: 4%;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-khtml-border-radius: 4px;
}
button.btn.btn-primary:hover {
	background: #2e4b6b;
}
button.btn.btn-primary:focus {
  outline: none;
}


@media only screen and (min-width: 740px) {
	.feedback_form {
		display: flex;
	}
	.form-field {
		width: 20vw;
	}
	.comment-list {
		width: 75%;
		margin-left: 4vw;
	}

}
