.feedback_form {
	text-align: left;
}

.checkout-logo {
	animation: App-logo-spin infinite 20s linear;
	margin-top: 2vmin;
  height: 10vmin;
  pointer-events: none;
}

.form-header {
  max-height: 40vh;
  display: flex;
  align-items: center;
	justify-content: center;
  font-size: calc(10px + 1vmin);
  color: #333;
}
.form-header h1 {
	 padding: 0 20px;
}

a:link {
  color: #7564bd;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**
 form styles */
 .form-field {
	width: 20vw;
}
